---
import new_page from '/src/assets/img/extra/new19.gif';
---
<aside class="flex-1/5 text-xl text-left uppercase">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li class="flex items-center"><a href="/info/">Info</a> <img src={new_page.src} alt=""> </li>
        	<li class="flex items-center"><a href="/art/">Art</a> <img src={new_page.src} alt=""> </li>
        	<!-- <li class="flex items-center"><a href="/vidoes/">Videos</a> <img src={new_page.src} alt=""> </li> -->
        	<!-- <li class="flex items-center"><a href="/music/">Music</a> <img src={new_page.src} alt=""> </li> -->
        	<!-- <li class="flex items-center"><a href="/games/">Games</a> <img src={new_page.src} alt=""> </li> -->
    	</ul>
	</nav>
</aside>
