---
// Files
import '/src/global.css';
import favicon from '/favicon.ico';
import { KnownAgents } from "@knownagents/sdk"

// layout
import Header from './elements/Header.astro';
import Aside from './elements/Aside.astro';
import Main from './elements/Main.astro';
import Footer from './elements/Footer.astro';
import Extra from './elements/Extra.astro';

// Interface
interface Props {
  	title: string;
  	description: string;
}

// Constants
const { title, description } = Astro.props;
const knownAgents = new KnownAgents("420e1fea-7931-4160-9fd6-bf87899f72fb");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!doctype html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="Mortalmutt, mmdungeon" />
		<!-- Scripts -->
		<script src="../assets/lib/js/no_click.js"></script>
		<script src="https://unpkg.com/webamp@1.4.0/built/webamp.bundle.min.js"></script>
		<!-- Links -->
		<link rel="icon" type="image/svg+xml" href={favicon}/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link rel="alternate" href="/src/feed.xml" type="application/rss+xml" title="RSS">
		<!-- Title -->
		<title>Mortalmutt ⛧ {title}</title>
	</head>
	<body>
		<Header/>
		<div class="flex">
			<Aside/>
			<Main>
				<h2>{title}</h2>
				<slot/>
			</Main>
		</div>
		<Footer/>
		<Extra/>
	</body>
</html>

